{% extends 'base.html.twig' %}

{% block body %}

    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header">{{sweets.name}}</div>
      <div class="card-body">
          <img style="height: 200px; width: 100%; display: block;" src={{sweets.image}} alt="Image de {{sweets.name}}">
      </div>
    </div>
    <h3 text-align = "center"> Liste des ingrédients : </h3>
      <div class = "ing">
        <ul>
        {% for ingredient in  sweets.ingredient %} 
          <li> {{ingredient.name}} </li>
        {% endfor %}
        </ul>
      </div>
    
{% endblock %}