{% extends 'base.html.twig' %}

{% block body %}

    <div class="card border-secondary mb-3" style="max-width: 20rem;">
      <div class="card-header">Bourse orange a changer</div>
      <div class="card-body">
        <h4 class="card-title">Bourse orange a changer</h4>
          <img style="height: 200px; width: 100%; display: block;" src="http://placehold.it/200x120" alt="Image de Bourse orange a changer">
        <p class="card-text">Amandes, Orange</p>
      </div>
    </div>
    <h3 text-align = "center"> Liste des ingrédients : 
    <div class = "ing"> Amandes, Orange </div>
    </h3>
{% endblock %}